policy-reporter:
  revisionHistoryLimit: 1
  networkPolicy:
    enabled: true

  service:
    annotations:
      prometheus.io/port: '8080'
      prometheus.io/scrape: 'true'
      prometheus.io/honor_labels: "true"

  resources:
    limits:
      memory: 100Mi
      cpu: 100m
    requests:
      memory: 75Mi
      cpu: 5m

  metrics:
    enabled: true
    mode: custom
    # Supported fields are: ["namespace", "rule", "policy", "report" // PolicyReport name, "kind" // resource kind, "name" // resource name, "status", "severity", "category", "source"]
    customLabels:
      - namespace
      - rule
      - category
      - kind
      - name
      - policy
      - source
      - severity
      - status
    filter:
      status:
        exclude:
          - pass

  # Configure Policy Reporter UI
  ui:
    enabled: true
    revisionHistoryLimit: 1
    resources:
      limits:
        memory: 100Mi
        cpu: 100m
      requests:
        memory: 50Mi
        cpu: 10m

    openIDConnect:
      enabled: true
      callback: https://policy-reports.tools.kilchhofer.info/callback
      secretRef: 'policy-reporter-ui-sso'
      groupClaim: groups
      scopes:
      - openid
      - email
      - profile
      - groups

    networkPolicy:
      enabled: true
      egress:
        - ports:
              # Allow egress traffic to SSO provider
            - protocol: TCP
              port: 443

    httproute:
      enabled: true
      # Must reference an existing Gateway resource
      parentRefs:
        - name: eg-internal
          group: gateway.networking.k8s.io
          kind: Gateway
          namespace: envoy-gateway-system
      # -- List of hostnames for HTTPRoute
      hostnames:
        - policy-reports.tools.kilchhofer.info

      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
