athens-proxy:
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 10m
      memory: 64Mi

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
    seccompProfile:
      type: RuntimeDefault

  ingress:
    enabled: false # We use HTTPRoute instead

  extraVolumeMounts:
  - mountPath: /tmp
    name: tmp-dir

  extraVolumes:
  - name: tmp-dir
    emptyDir:
      sizeLimit: 1Gi

  configEnvVars:
  - name: ATHENS_LOG_FORMAT
    value: json
  - name: ATHENS_GO_BINARY_ENV_VARS
    value: GOPROXY=proxy.golang.org
