dex:
  image:
    tag: v2.42.0-distroless

  config:
    issuer: https://sso-legacy.kilchhofer.info
    oauth2:
      skipApprovalScreen: true
    storage:
      type: kubernetes
      config:
        inCluster: true

    connectors:
      - type: oidc
        id: pocket-id
        name: Pocket ID
        config:
          issuer: https://auth.kilchhofer.info
          clientID: '{{ .Env.OIDC_CLIENT_ID }}'
          clientSecret: '{{ .Env.OIDC_CLIENT_SECRET }}'
          redirectURI: https://sso-legacy.kilchhofer.info/callback
          scopes:
          - profile
          - email
          - groups
          # getUserInfo: true
          insecureEnableGroups: true
          claimMapping:
            groups: "groups"

    web:
      allowedOrigins:
      - https://flatcar.tools.kilchhofer.info

    staticClients:
      - id: nebraska
        public: true
        name: Nebraska
        redirectURIs:
          - https://flatcar.tools.kilchhofer.info/auth/callback

  envFrom:
    - secretRef:
        name: dex-upstream-oidc

  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 1m
      memory: 48Mi

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true

  volumeMounts:
    - mountPath: /tmp
      name: tmp

  volumes:
    - emptyDir: {}
      name: tmp

  ingress:
    enabled: true

    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"

    className: nginx-external
    hosts:
      - host: sso-legacy.kilchhofer.info
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: dex-ingress-cert
        hosts:
          - sso-legacy.kilchhofer.info

  networkPolicy:
    enabled: true
    egressRules:
        # Allow connection to GitHub
      - ports:
          - port: 443
