nebraska:
  config:
    app:
      title: Flatcar Updates
      logoPath: null
    database:
      username: postgres
    syncer:
      interval: 12h
    hostFlatcarPackages:
      enabled: true
      nebraskaURL: https://flatcar.tools.kilchhofer.info
      persistence:
        enabled: true
        storageClass: nfs-data
    auth:
      mode: oidc
      oidc:
        existingSecret: nebraska-custom
        issuerURL: https://sso-legacy.kilchhofer.info
        adminRoles: infrastructure_admins
        viewerRoles: developers
        rolesPath: groups
        scopes: groups,openid,profile

  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 128Mi

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true

  ingress:
    enabled: false
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      cert-manager.io/revision-history-limit: "1"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    ingressClassName: nginx-internal
    hosts:
      - flatcar.tools.kilchhofer.info
    tls:
      - secretName: nebraska-ingress-cert
        hosts:
          - flatcar.tools.kilchhofer.info

  postgresql:
    image:
      repository: bitnamilegacy/postgresql
      tag: 17.6.0-debian-12-r4
    auth:
      username: ""
    resources:
      limits:
        cpu: 250m
        memory: 256Mi
    primary:
      containerSecurityContext:
        readOnlyRootFilesystem: false
      persistence:
        enabled: true
        storageClass: iscsi-manual
        accessModes:
          - ReadWriteOnce
        size: 1Gi

    networkPolicy:
      enabled: true
      ingressRules:
        primaryAccessOnlyFrom:
          enabled: true
          podSelector:
            app.kubernetes.io/instance: nebraska
            app.kubernetes.io/name: nebraska

  extraObjects:
    - apiVersion: external-secrets.io/v1
      kind: ExternalSecret
      metadata:
        name: nebraska-custom
      spec:
        secretStoreRef:
          kind: ClusterSecretStore
          name: akeyless-k3s-secrets

        target:
          name: nebraska-custom

        dataFrom:
        - extract:
            key: /k3s/nebraska/oidc-creds

    - apiVersion: networking.k8s.io/v1
      kind: NetworkPolicy
      metadata:
        name: nebraska
      spec:
        podSelector:
          matchLabels:
            app.kubernetes.io/instance: nebraska
            app.kubernetes.io/name: nebraska
        policyTypes:
          - Egress
        egress:
            # 1. flatcar online service (https://public.update.flatcar-linux.net/v1/update/)
            # 2. SSO via OIDC (Pocket ID)
          - ports:
            - port: 443
              protocol: TCP
